body {
    background: #e3e7eb;
    min-height: 100vh;
}
a {
    color: #5a2115;
}
.hero {
    background: url('https://samorzad.p.lodz.pl/polisocjal/img/header.png'), #e3e7eb;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #600000;
}
.navbar-end>.navbar-item, .navbar-brand>.navbar-item, .navbar-link  {
    color: #fff;
}
dt {
    font-weight: bold;
}
dd {
    padding-bottom: 10px;
}
h3 {
    padding-top: 10px;
}
[v-cloak] {
    display: none;
}

.back-to-top {
    position: fixed;
    display: none;
    height: 50px;
    width: 50px;
    background-color: #600000;
    right: 50px;
    bottom: 50px;
    opacity: 1;
    transition: .5s ease opacity,.5s ease visibility;
}

.arrow-up {
    margin-left: 14px;
    margin-top: 20px;
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 9px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.navbar-burger span {
    background-color: white;
}

.navbar-item, .navbar-link {
    color: white;
}

@media print {
    footer { display: none; }
}

@media 
only screen and (min-width: 1008px) {
    .navbar-brand {
        display: none;
    }

    .navbar-end {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar-dropdown {
        background: #600000;
    }
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
        vertical-align: middle;
        padding-top: 0.4em !important;
        padding-right: 1.5em !important;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "Imię"; }
    td:nth-of-type(2):before { content: "Relacja"; }
    td:nth-of-type(3):before { content: "Wiek"; }
    td:nth-of-type(4):before { content: "Opcje"; }
}
