<!DOCTYPE html>
<html>
<head>
  <title>PoliSocjal – generator listy dokumentów do stypendium socjalnego</title>
  <script src="https://unpkg.com/vue@2.5.2/dist/vue.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css" />
  <link rel="stylesheet" href="styles.css" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42647343-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-42647343-2');
  </script>
  <meta charset="utf-8">
</head>
<body>
    <section class="hero is-medium">
  <div class="hero-body">
          <h1 class="title">
            &nbsp;
      </h1>
      <h2 class="subtitle">
        &nbsp;
      </h2>
  </div>
</section>
  <nav class="navbar is-primary">
    <div class="navbar-brand">
      <a class="navbar-item" href="#" style="font-weight:bold;">
        PoliSocjal
      </a>
      <span class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-end">
        <a href="index.html" class="navbar-item">Główna</a>
        <a href="wizard.html" class="navbar-item">Kreator</a>
        <a href="ks.html" class="navbar-item">Gdzie składać podania?</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Formy PM
          </a>
          <div class="navbar-dropdown">
            <a href="forms/social.html" class="navbar-item">Stypendium socjalne</a>
            <a href="forms/rector.html" class="navbar-item">Stypendium rektora</a>
            <a href="forms/disabilities.html" class="navbar-item">Stypendium dla osób niepełnosprawnych</a>
            <a href="forms/special.html" class="navbar-item">Zapomoga</a>
          </div>
        </div>
        <a href="computing.html" class="navbar-item">Wyliczanie dochodu</a>
        <a href="foreigners.html" class="navbar-item">Dla cudzoziemców</a>
        <a href="faq.html" class="navbar-item">FAQ</a>
        <a href="files.html" class="navbar-item">Pliki</a>
        <a href="https://samorzad.p.lodz.pl/komisja-ds-pomocy-materialnej" target="_blank" class="navbar-item">Kontakt do Komisji</a>
      </div>
    </div>
  </nav>
  <div class="container">
      <div v-cloak id="app">
    <div class="content box">
      <template v-if="storage.step == 'setup'">
        <h1>Cześć!</h1>
        <h3>Studencie!</h3>
        <p>PoliSocjal to generator listy dokumentów do stypendium socjalnego, który został stworzony przez <a href="https://samorzad.p.lodz.pl/" target="_blank">Samorząd Studencki Politechniki Łódzkiej</a>, aby ułatwić Ci kompletowanie dokumentów, jakie musisz dołączyć do podania o stypendium socjalne. Wynikiem pracy kreatora jest spis dokumentów, które w Twoim indywidualnym przypadku musisz dostarczyć.<br>
        <strong>Zastrzegamy jednak, że generator ten nie rozpatruje wszystkich skomplikowanych przypadków!</strong></p>
        <h3>Kilka ważnych uwag</h3>
        <ol>
        <li>Generator jest w pełni bezpieczny - wszystkie dane zapisują się lokalnie na Twoim komputerze tylko na czas pracy z kreatorem, nic nie jest przesyłane na żaden serwer. Po otwarciu strony możesz używać jej offline.</li>
        <li>Jeśli w trakcie pracy z generatorem odświeżysz stronę, wprowadzone dane znikną - będziesz musiał powtórzyć cały proces. Wynika to z punktu 1.</li>
        <li>Na dole strony, na każdym etapie pracy, masz możliwość rozwinięcia słowniczka z pojęciami dotyczącymi pomocy materialnej.</li>
        </ol>
        <hr>
        <p>Czy
          <ul>
           <li>masz ukończone 26 lat</li>
           <li>i/lub pozostajesz w związku małżeńskim</li>
           <li>i/lub posiadasz dzieci na utrzymaniu</li>
           <li>i/lub wychowywałeś(aś) się w pieczy zastepczej?</li>
         </ul>
       </p>
         <div class="control">
           <input type="radio" id="financiallyIndependentYes" :value="true" v-model="storage.financiallyIndependent">
           <label for="financiallyIndependentYes">Tak</label>
         </div>
         <div class="control">
           <input type="radio" id="financiallyIndependentNo" :value="false" v-model="storage.financiallyIndependent">
           <label for="financiallyIndependentNo">Nie</label>
          </div>
         <p v-show="storage.financiallyIndependent">Jeśli spełniasz wcześniej wymienione warunki (lub tylko jeden z nich), masz dwie możliwości - możesz rozliczać się sam według zasad samodzielności finansowej lub rozliczać się z rodzicami. W przypadku wybrania przez Ciebie drugiej z opcji, odpowiedz "nie" - wtedy w dalszych krokach będziesz mieć możliwość wpisania do gospodarstwa domowego zarówno małżonka i dzieci, jak i rodziców czy rodzeństwa.</p>
       <br>
       <button class="button is-primary " @click="goToStep('family')">Dalej</button>
      </template>

     <template v-if="storage.step == 'family'">
      <h2>Dodaj członków rodziny</h2>

      <table class="is-fullwidth">
        <thead>
          <tr>
            <td>Imię</td>
            <td>Pokrewieństwo</td>
            <td>Wiek</td>
            <td>Opcje</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <p colspan="4">W tej części musisz podać, kto należy do Twojego gospodarstwa domowego. Zacznij od dodania wnioskodawcy.</p>
          </tr>
          <tr v-for="member in storage.family" :key="member.id">
            <td>{{ member.name }}</td>
            <td>{{ findFamilyMemberRelation(member.relation) }}</td>
            <td>{{ member.age }}</td>
            <td><button class="button" @click="editFamilyMember(member.id)">Edytuj</button><button class="button" @click="removeFamilyMember(member.id)">Usuń</button></td>
          </tr>
          <tr>
            <td class="is-block-mobile">
              <input class="input" v-model="newFamilyMember.name" placeholder="Imię">
            </td>
            <td class="is-block-mobile">
              <span class="select">
                <select v-model="newFamilyMember.relation">
                  <option disabled value="">Wybierz relację</option>
                  <option :disabled="hasMember('student')" value="student">Wnioskodawca</option>
                  <template v-if="hasMember('student')">
                    <template v-if="!storage.financiallyIndependent">
                      <option :disabled="hasMember('father')" value="father">Ojciec</option>
                      <option :disabled="hasMember('mother')" value="mother">Matka</option>
                      <option :disabled="hasMember('mother') && hasMember('father')" value="guardian">Opiekun prawny</option>
                      <option value="sibling">Brat/siostra</option>
                      <option :disabled="hasMember('spouse')" value="spouse">Małżonek</option>
                      <option value="child">Dziecko</option>
                    </template>
                    <template v-if="storage.financiallyIndependent">
                      <option :disabled="hasMember('spouse')" value="spouse">Małżonek</option>
                      <option value="child">Dziecko</option>
                    </template>
                  </template>
                </select>
              </span>
            </td>
            <td class="is-block-mobile">
              <input class="input" v-model.number="newFamilyMember.age" placeholder="Wiek" type="number" min="0" max="150" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
            </td>
            <td class="is-block-mobile">
              <button v-if="!editMode" :disabled="!filledNewFamilyMemberFields" class="button" @click="addFamilyMember">Dodaj</button>
              <button v-else :disabled="!filledNewFamilyMemberFields" class="button" @click="saveFamilyMember">Zapisz</button>
            </td>
          </tr>
        </tbody>
      </table>
      <hr>
      <p v-show="storage.financiallyIndependent && onlyStudentUnder26">Podana przez Ciebie sytuacja finansowa umożliwia samodzielne rozliczanie się tylko w sytuacji, jeśli pełnoletniość osiągnąłeś w rodzinie zastępczej. Jeśli tak nie jest, <a @click="reset()">zacznij od nowa</a> i wybierz <em>Nie</em> w pierwszym pytaniu.</p>
      <button class="button is-primary" :disabled="!anyFamilyMembers" @click="finishFamilySetup">Dalej</button>
     </template>

      <template v-if="storage.step == 'notEligibleForIndependency'">
        <h2>Uwaga</h2>
        <p>W pierwszym kroku zaznaczyłeś(aś), że jesteś samodzielny(a) finansowo, czyli spełniasz przynajmniej jeden z następujących warunków:
          <ul>
           <li>masz ukończone 26 lat</li>
           <li>i/lub pozostajesz w związku małżeńskim</li>
           <li>i/lub posiadasz dzieci na utrzymaniu</li>
           <li>i/lub wychowywałeś(aś) się w pieczy zastepczej.</li>
         </ul>
        Podane przez Ciebie w poprzednim kroku informacje nie pasują jednak do żadnej z powyższych sytuacji, więc nie spełniasz przesłanek które pozwoliłyby Ci rozliczać się bez rodziców.
        <br>Aby wrócić do pierwszego kroku kreatora, skorzystaj z poniższego przycisku.
        </p>
        <br>
        <button class="button is-primary" @click="reset()">Zacznij od nowa</button>
      </template>

      <template v-if="storage.step == 'missingMother'">
        <h2>Dodaj informację o matce:</h2>
        <input type="radio" name="motherDeathCert" id="motherDeathCert" value="motherDeathCert" v-model="documentsToAdd">
        <label for="motherDeathCert">Nie żyje</label>
        <br>
        <input type="radio" name="divorceDecision" id="divorceDecision" value="divorceDecision" v-model="documentsToAdd">
        <label for="divorceDecision">Rodzice są po rozwodzie lub w separacji</label>
        <br>
        <input type="radio" name="motherMissingProof" id="motherMissingProof" value="motherMissingProof" v-model="documentsToAdd">
        <label for="motherMissingProof">Zaginęła</label>
        <br>
        <input type="radio" name="motherLockedFacilityProof" id="motherLockedFacilityProof" value="motherLockedFacilityProof" v-model="documentsToAdd">
        <label for="motherLockedFacilityProof">Przebywa w ośrodku zamkniętym</label>
        <br>
        <button :disabled="!enteredMissingParentDetails" class="button is-primary" @click="addMissingParentDetails('mother')">Dalej</button>
      </template>

      <template v-if="storage.step == 'missingFather'">
        <h2>Dodaj informację o ojcu:</h2>
        <input type="radio" name="fatherDeathCert" id="fatherDeathCert" value="fatherDeathCert" v-model="documentsToAdd">
        <label for="fatherDeathCert">Nie żyje</label>
        <br>
        <input type="radio" name="divorceDecision" id="divorceDecision" value="divorceDecision" v-model="documentsToAdd">
        <label for="divorceDecision">Rodzice są po rozwodzie lub w separacji</label>
        <br>
        <input type="radio" name="fatherMissingProof" id="fatherMissingProof" value="fatherMissingProof" v-model="documentsToAdd">
        <label for="fatherMissingProof">Zaginął</label>
        <br>
        <input type="radio" name="fatherLockedFacilityProof" id="fatherLockedFacilityProof" value="fatherLockedFacilityProof" v-model="documentsToAdd">
        <label for="fatherLockedFacilityProof">Przebywa w ośrodku zamkniętym</label>
        <br>
        <input type="radio" name="fullBirthCert" id="fullBirthCert" value="fullBirthCert" v-model="documentsToAdd">
        <label for="fullBirthCert">Jest nieznany</label>
        <br>
        <button :disabled="!enteredMissingParentDetails" class="button is-primary" @click="addMissingParentDetails('father')">Dalej</button>
      </template>

      <template v-if="storage.step == 'processMembersSibling'">
        <h1>Dodatkowe informacje o członku rodziny – {{ currentFamilyMember.name }} - {{ findFamilyMemberRelation(currentFamilyMember.relation) }} ({{ currentFamilyMemberNo }} z {{ countFamilyMembers }})</h1>
        <div v-if="currentFamilyMember.age >= 19 && currentFamilyMember.age <= 26">
          <p>Czy {{ currentFamilyMember.name }} się uczy?</p>
          <input type="radio" name="isLearningYes" id="isLearningYes" :value="true" v-model="isLearning">
          <label for="isLearningYes">Tak</label>
          <br>
          <input type="radio" name="isLearningNo" id="isLearningNo" :value="false" v-model="isLearning">
          <label for="isLearningNo">Nie</label>
          <br>
        </div>
        <div>
          <p>Czy {{ currentFamilyMember.name }} jest osobą niepełnosprawną?</p>
          <input type="radio" name="isDisabledYes" id="isDisabledYes" :value="true" v-model="isDisabled">
          <label for="isDisabledYes">Tak</label>
          <br>
          <input type="radio" name="isDisabledNo" id="isDisabledNo" :value="false" v-model="isDisabled">
          <label for="isDisabledNo">Nie</label>
          <br>
        </div>
        <p v-if="!isLearning && !isDisabled || currentFamilyMember.age >= 27 && !isDisabled">
          {{ currentFamilyMember.name }} nie jest wliczany/a do gospodarstwa domowego.
        </p>
        <button class="button is-primary" @click="goToMemberIncome()">Dalej</button>
      </template>

      <template v-if="storage.step == 'processMembers'">
        <h1>Tworzenie karty dochodów dla {{ currentFamilyMember.name }} - {{ findFamilyMemberRelation(currentFamilyMember.relation) }} ({{ currentFamilyMemberNo }} z {{ countFamilyMembers }})</h1>
        <h2>Wybierz rodzaj dochodów, jakie {{ currentFamilyMember.name }} pozyskiwał(a) w {{ lastYear }} roku</h2>
        <template v-if="currentFamilyMember.relation == 'student' || currentFamilyMember.relation == 'sibling'">
        <input type="checkbox" name="attachmentDwithZUS" id="attachmentD" value="attachmentDwithZUS" v-model="documentsToAdd">
        </template>
        <template v-else> 
        <input type="checkbox" name="attachmentD" id="attachmentD" value="attachmentD" v-model="documentsToAdd">
        </template>
        <label for="attachmentD">Dochód z pracy</label>
        <br>
        <input type="checkbox" name="businessProof" id="businessProof" value="businessProof" v-model="documentsToAdd">
        <label for="businessProof">Dochód z prowadzenia działalności gospodarczej </label>
        <br>
        <input type="checkbox" name="fieldSizeProof" id="fieldSizeProof" value="fieldSizeProof" v-model="documentsToAdd" >
        <label for="fieldSizeProof">Dochód z gospodarstwa rolnego</label>
        <br>
        <div v-if="hasField" style="padding-left: 15px;">
          <input type="checkbox" name="KRUSProof" id="KRUSProof" value="KRUSProof" v-model="documentsToAdd">
          <label for="KRUSProof">Ilość hektarów przeliczeniowych jest większa niż 6</label>
          <br>
          <input type="checkbox" name="leaseAgreement" id="leaseAgreement" value="leaseAgreement" v-model="documentsToAdd">
          <label for="leaseAgreement">Gospodarstwo jest w dzierżawie na przynajmniej 10 lat i jest to zarejestrowane w ewidencji gruntów rolnych</label>
          <br>
        </div>
        <input type="checkbox" name="pensionProof" id="pensionProof" value="pensionProof" v-model="documentsToAdd" >
        <label for="pensionProof">Renta</label>
        <br>
        <template v-if="!isStudent">
          <input type="checkbox" name="retirementProof" id="retirementProof" value="retirementProof" v-model="documentsToAdd" >
          <label for="retirementProof">Emerytura</label>
          <br>
        </template>
        <input type="checkbox" name="alimonyProof" id="alimonyProof" value="alimonyProof" v-model="documentsToAdd" >
        <label for="alimonyProof">Alimenty</label>
        <br>
        <input type="checkbox" name="sicknessBenefitProof" id="sicknessBenefitProof" value="sicknessBenefitProof"  v-model="documentsToAdd">
        <label for="sicknessBenefitProof">Zasiłek chorobowy</label>
        <br>
        <input type="checkbox" name="perDiemProof" id="perDiemProof" value="perDiemProof" v-model="documentsToAdd" >
        <label for="perDiemProof">Diety z obowiązków społecznych</label>
        <br>
        <input type="checkbox" name="unemploymentProof" id="unemploymentProof" value="unemploymentProof" v-model="documentsToAdd" >
        <label for="unemploymentProof">Zasiłek dla bezrobotnych</label>
        <br>
        <input type="checkbox" name="unemploymentNotRegistered" id="unemploymentNotRegistered" value="unemploymentNotRegistered" v-model="documentsToAdd" >
        <label for="unemploymentNotRegistered">Jest bezrobotny/a i niezarejestrowany w PUP</label>
        <br>
        <input type="checkbox" name="workedAbroad" id="workedAbroad" value="workedAbroad" v-model="documentsToAdd" >
        <label for="workedAbroad">Dochód pozyskany poza granicami Rzeczypospolitej Polskiej</label>
        <br>
        <input type="checkbox" name="other" id="other" value="other" v-model="documentsToAdd" >
        <label for="other">Inne</label>
        <br>
        <button class="button is-primary" @click="goToStep('processLostIncome')">Dalej</button>
      </template>

      <template v-if="storage.step == 'processLostIncome'">
        <h1>Tworzenie karty dochodów dla {{ currentFamilyMember.name }} - {{ findFamilyMemberRelation(currentFamilyMember.relation) }} ({{ currentFamilyMemberNo }} z {{ countFamilyMembers }})</h1>
        <p>Jeżeli w chwili obecnej {{ currentFamilyMember.name }} nie otrzymuje już któregoś z wybranych przez Ciebie dochodów (zmieniła się sytuacja materialna – np. zmiana lub utrata pracy, utrata prawo do alimentów etc.), zaznacz go poniżej</p>
        <template v-for="doc in incomeDocuments">
          <input type="checkbox" :name="findLostIncomeDocument(doc)" :id="findLostIncomeDocument(doc)" :value="findLostIncomeDocument(doc)" v-model="documentsToAdd">
          <label :for="findLostIncomeDocument(doc)">{{ findLostIncomeDocumentLabel(findLostIncomeDocument(doc)) }}</label>
          <br>
        </template>
        <button class="button is-primary" @click="goToStep('processNewIncome')">Dalej</button>
      </template>

      <template v-if="storage.step == 'processNewIncome'">
        <h1>Tworzenie karty dochodów dla {{ currentFamilyMember.name }} - {{ findFamilyMemberRelation(currentFamilyMember.relation) }} ({{ currentFamilyMemberNo }} z {{ countFamilyMembers }})</h1>
        <p>Czy {{ currentFamilyMember.name }} uzyskuje aktualnie dochód, który nie był uzyskiwany w {{ lastYear }} roku (np. nowa praca)?</p>
        <input type="radio" name="newIncomeYes" id="newIncomeYes" :value="true" v-model="hasNewIncome">
        <label for="newIncomeYes">Tak</label>
        <br>
        <input type="radio" name="newIncomeNo" id="newIncomeNo" :value="false" v-model="hasNewIncome">
        <label for="newIncomeNo">Nie</label>
        <br>
        <button class="button is-primary" @click="nextMember()">Dalej</button>
      </template>


      <template v-if="storage.step == 'additionalInfo'">
        <h1>Dodatkowe informacje</h1>
        <p>Czy jesteś spoza Łodzi, a wynajmujesz tutaj mieszkanie lub mieszkasz w Domu Studenckim?</p>
        <input type="radio" name="notFromLodzYes" id="notFromLodzYes" :value="true" v-model="storage.notFromLodz">
        <label for="notFromLodzYes">Tak</label>
        <br>
        <input type="radio" name="notFromLodzNo" id="notFromLodzNo" :value="false" v-model="storage.notFromLodz">
        <label for="notFromLodzNo">Nie</label>
        <br>
        <button class="button is-primary" @click="endAlgorithm()">Dalej</button>
      </template>

      <template v-if="storage.step == 'finish'">
        <h1>Kończenie pracy kreatora</h1>
        <h2>Lista dokumentów:</h2>
        <div v-for="(familyMember, index) in storage.family">
          <h3>{{ familyMember.name }} (l. {{ familyMember.age }}) – {{ findFamilyMemberRelation(familyMember.relation) }}</h3>

          <ol v-if="isMemberCounted(index)">
            <li v-for="document in storage.documentLists[ index ]">{{ findDocumentNameWithType(document) }}</li>
          </ol>
          <p v-else>
            Ta osoba nie jest wliczana do gospodarstwa domowego.
          </p>
        </div>
        <template v-if="hasOtherDocuments">
          <h3>Inne dokumenty</h3>
          <ol>
            <li v-for="document in storage.otherDocuments">{{ findDocumentNameWithType(document) }}</li>
          </ol>
        </template>
        <p>W przypadku gdy dochód na osobę w rodzinie studenta nie przekracza kwoty 600 zł konieczne jest dostarczenie zaświadczenia z MOPS/GOPS o sytuacji dochodowej i majątkowej studenta i jego rodziny. Brak zaświadczenia w opisanej sytuacji jest jednoznaczny z odmową przyznania stypendium.</p>
        <p>Komisja może wezwać do przedstawienia innych niż ww. dokumentów. Ciężar udowodnienia trudnej sytuacji materialnej spoczywa na studencie/doktorancie. Oryginały wszystkich wymaganych dokumentów muszą być przedłożone do wglądu pracownika dziekanatu celem potwierdzenia przez pracownika kopii za zgodność z oryginałem.</p>
        <hr>
        <p>Więcej informacji oraz wszystkie potrzebne dokumenty do pobrania znajdziesz na stronie Uczelni: <a href="https://p.lodz.pl/studenci/wsparcie/stypendia" target="_blank">Stypendia PŁ</a>.<br>
        <strong>Uwaga</strong>: Obecnie podanie o stypendium socjalne należy wygenerować przez portal <a href="https://webdziekanat.p.lodz.pl/">WebDziekanat</a>. Po zalogowaniu się należy z menu po lewej wybrać <em>Podania i wnioski</em>, a następnie <em>Wnioski dotyczące stypendiów i zapomóg</em> i <em><a href="https://webdziekanat.p.lodz.pl/podania-web/secured/formularzStypendiumSocjalne.xhtml" target="_blank">Wniosek o przyznanie stypendium socjalnego</a></em>.</p>
        <h3>Co dalej?</h3>
        <p>Aby zapisać tę listę dokumentów, wydrukuj ją lub zrób zrzut ekranu. Zalecamy zabranie jej idąc złożyć wniosek o stypendium. Pamiętaj jednak, że nie jest ona wyznacznikiem w każdym przypadku - Komisja Stypendialna może poprosić Cię o dołączenie pojedynczych dodatkowych dokumentów. W razie pytań, skontaktuj się z Komisją ds. Pomocy Materialnej (<a href="mailto:pomoc.materialna@samorzad.p.lodz.pl">pomoc.materialna@samorzad.p.lodz.pl</a>).</p>
        <button class="button is-info" @click="window.print()">Wydrukuj tę stronę</button>
      </template>
    </div> 
  </div>

    <div v-cloak id="common-app">
      <Dictionary />
    </div>
  </div>
  </div>
  <a href="#" class="back-to-top"><i class="arrow-up"></i></a>
</div>

<script src="main.min.js"></script>
<script type="module" src="common.js"></script>
</body>
</html>
